.mainContent{
    min-height: 100vh;
    position: relative;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}
.searchBar{
    text-align: left;
    padding: 10px 0 0 10px;
}
.searchBar input{
    border-radius: 20px;
    border: 1px solid rgba(33,33,33,.5);
}
.productCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fffefe;
    width: 100%;
    margin: 10px;
    padding: 5px 15px 30px 15px;
    border-radius: 5px;
}
.productCard img{
    width: 90%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.productCard:hover{
    box-shadow: 5px 5px 10px rgba(33,33,33,.3);
    border-radius: 5px;
}
.productDescription{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}
.viewProductButton{
    font-family: Lora, serif;
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: .8;
    border-radius: 5px;
    color: #fffefe;
}
.viewProductButton:hover{
    opacity: 1;
}
@media screen and (min-width: 580px){
    .productCard{
        max-width: 50%;
    }
}
@media screen and (min-width: 768px){
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 26px;
    } 
    input{
        width: 250px;
    }
    .productCard{
        max-width: 27%;
    }
}
@media screen and (min-width: 1200px){
        .productCard{
        max-width: 20%;
    }
}
@media screen and (min-width: 1441px){
        .productCard{
        max-width: 15%;
    }
}


