.mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.mainContent h1{
    min-width: 100%;
    text-align: center;
}
.searchBar{
    text-align: left;
    margin: 20px 0 0 35px;
}
.searchBar input{
    border-radius: 20px;
}
.counter{
    color: #fffefe;
    background-color: #ff00ff;
    position: absolute;
    top: -125px;
    right: 10px;
    border-radius: 50%;
    padding: 0 3px;
}
.productCard{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: 0 12px;
}
.productCard img{
    max-width: 220px;
}
.productCard img:hover{
    opacity: .8;
}
@media screen and (min-width: 768px){
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 26px;
    } 
    input{
        width: 250px;
    }
}
