.checkoutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    min-height: 100vh;
    position: relative;
}
.counter{
    color: #fffefe;
    background-color: #ff00ff;
    position: absolute;
    top: -58px;
    right: 10px;
    border-radius: 50%;
    padding: 0 3px;
}