.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}
.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 40px 0;
    max-width: 300px;
    margin: 0 10px;
}
.productCard img{
    max-width: 300px;
}
.addToCartButton{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #ff00ff;
    padding: 12px 20px;
    color: #fffefe;
    margin: 10px 0 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.addToCartButton:hover{
    opacity: .7;
}
.productPrice{
    margin: 10px 0 20px 0;
    border: 1px solid #ff00ff;
    padding: 10px;
    text-transform: uppercase;
}
.counter{
    color: #fffefe;
    background-color: #ff00ff;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 50%;
    padding: 0 3px;
}
.discountPrice{
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.addToCartMessage{
    border: 1px solid #ff00ff;
    padding: 5px;
    width: 250px;
}
.mainContent i {
    margin-left: 60px;
    font-size: 20px;
}