.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    position: relative;
    margin-bottom: 40px;
}
.reviewContainer{
    display: flex;
    flex-direction: column;
}
.review{
    background-color: var(--tertiary-color);
    margin-bottom: 10px;
    opacity: .7;
    padding: 10px 20px 30px 20px;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(33,33,33,.3);

}
.productCard{
    display: flex;
    flex-direction: column;
    padding: 0 10px 40px 10px;
    max-width: 300px;
    border: 1px solid rgba(33,33,33,.3);
    box-shadow: 5px -5px 10px rgba(33,33,33,.1);
    border-radius: 5px;
    margin-top: 20px;
   
}
.productCard img{
    max-width: 300px;
    border-radius: 5px;
}
.addToCartButton{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 12px 20px;
    color: #fffefe;
    margin: 10px 0 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.addToCartButton:hover{
    opacity: .8;
    
}
.productPrice{
    margin: 10px 0 20px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}
.counter{
    color: #fffefe;
    background-color: var(--primary-color);
    position: absolute;
    top: -57px;
    right: 10px;
    border-radius: 50%;
    padding: 0 3px;
}
.discountPrice{
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.addToCartMessage{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}
.mainContent i {
    margin-left: 60px;
    font-size: 20px;
}
.backButton{
    text-decoration: none;
    margin: 15px 0 0 0;
    position: relative;
    left: -40px;
}
.backButton:hover{
    text-decoration: underline;
}
.backButton i{
    margin-right: 10px;
    position: relative;
    top: 2px;   
}
@media screen and (min-width: 768px){
    .mainContent{
        flex-direction: row;
        gap: 40px;
    }
    .reviewContainer{
        order: 1;
    }
    .review{
        width: 300px;
    }
    .backButton{
        position: absolute;
        top: 0;
        left: 40px;
        
    }
}