.mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainContent h1{
    flex: 0 0 100%;
    margin-left: 25px;
}
.searchBar{
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 20px 0 0 15px;
}
.productCard{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: 0 12px;
}
.productCard img{
    max-width: 220px;
}
.productCard img:hover{
    opacity: .8;
}