.mainContent{
    min-height: 100vh;
    text-align: center;
    position: relative;
}
.contactHeader{
    margin: 0;
    padding-top: 20px;
}
.contactForm{
    margin-top: 20px;
}
label{
   display: inline-block;
   text-align: right;
   width: 100px;
   
}
input{
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--footer-background);
    border-radius: 5px;
}
input,textarea{
    font-family: inherit;
    font-size: inherit;
}
textarea{
    margin: 10px 0 0 0;
    border: 1px solid var(--footer-background);
    border-radius: 5px;
    width: 200px;
}
textarea::placeholder{
    padding-left: 3px;
}
.messageLabel{
    position: relative;
    top: -40px;
}
.submitButton{
    margin: 20px 0 40px 0;
    padding: 10px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fffefe;
    border: none;
    width: 200px;
    border-radius: 5px;
}
.submitButton:hover{
    opacity: .8;
    cursor: pointer;
}
.submitMessage{
    border: 1px solid var(--secondary-color);
    padding: 5px;
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width: 768px){
    h1{
        font-size: 36px;
    }
    label{
        font-size: 18px;
    }
    input{
        width: 250px;
    }
    textarea{
        width: 255px;
    }
    .submitButton{
        width: 260px;
    }
}