.mainContent{
    min-height: 100vh;
    text-align: center;
    position: relative;
}
.mainContent h2{
    margin-top: 40px;
}
.contactForm{
    margin-top: 30px;
}
label{
   display: inline-block;
   text-align: right;
   width: 100px;
   
}
input{
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--footer-background);
    border-radius: 5px;
}
textarea{
    position: relative;
    left: -5px;
    display: inline-block;
    width: 170px;
    margin: 10px 0 0 10px;
    border: 1px solid var(--footer-background);
    opacity: .7;
    border-radius: 5px;
}
.messageLabel{
    position: relative;
    top: -40px;
}
.submitButton{
    margin: 20px 0 40px 0;
    padding: 10px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fffefe;
    border: none;
    position: relative;
    left: 50px;
    width: 175px;
    border-radius: 5px;
}
.submitButton:hover{
    opacity: .8;
    cursor: pointer;
}
.submitMessage{
    border: 1px solid var(--secondary-color);
    padding: 5px;
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.counter{
    color: #fffefe;
    background-color: var(--primary-color);
    position: absolute;
    top: -80px;
    right: 10px;
    border-radius: 50%;
    padding: 0 3px;
}
@media screen and (min-width: 768px){
    h1{
        font-size: 36px;
    }
    label{
        font-size: 18px;
    }
    input{
        width: 250px;
    }
    textarea{
        width: 255px;
    }
    .submitButton{
        width: 260px;
    }
}