.headerTop{
    width: 100vw;
    border-bottom: 2px solid rgba(33,33,33,.2);
}
.headerContent{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLeft i{
    padding-right: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    /* font-size: 22px; */
}
.headerLeft i:active{
    color: black;
}
.headerCenter{
    margin-left: -30px;
    text-transform: uppercase;
    
}
.headerRight{
    display: flex;
}
.headerRight i{
    cursor: pointer;
    color: var(--primary-color);
}
.headerRight i:active{
    color: black;
}
.counter{
    color: #fffefe;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    position: relative;
    top: -15px;
    right: 10px;
}
@media screen and (min-width:768px) {
    .headerLeft i, .headerRight i{
        font-size: 24px;
    }
}
@media screen and (min-width:1441px) {
    .headerLeft{
        margin-left: 15px;
    }
    .headerRight{
        margin-right: 15px;
    }
}