.footerContent{
    display: flex;
    justify-content: space-around;
    background-color: #555;
    padding: 25px;
    color: #fffefe;
}
.footerLeft{

}
.footerRight i{
    cursor: pointer;
    padding-right: 15px;
}