:root {
   --primary-color: #0000ff;
   --secondary-color: #ff00ff;
   --tertiary-color: #00ffff;
   --footer-background: #555;
   --main-background: #f3f1f1;
}
body{
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
}
a:active{
  color: black;
}



