:root {
   --primary-color: #0000ff;
   --secondary-color: #ff00ff;
   --tertiary-color: #00ffff;
   --footer-background: #555;
   --main-background: #f3f1f1;
}
body{
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
}
a:active{
  color: black;
}



